<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
  <div>
    РЕНЕСАНС ХХІ
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>

  <ul class="menu">
    <li><a href="/">Головна</a></li>
    <li><a href="/projects">Проекти</a></li>
    <li><a href="/about">Про нас</a></li>
    <li><a href="/contacts">Контакти</a></li>
    <li *ngIf="!isLoggedIn"><button class="login-btn" routerLink="/login">Вхід</button></li>
    <li *ngIf="isLoggedIn"><button class="login-btn" routerLink="/login" (click)="logout()">Вихід</button></li>

  </ul>
</section>
