<header>
  <div class="offer">
    <h1>Ренесанс - громадська компанія, яка займається благоустроєм села</h1>
    <p>Ми працюємо в напрямах:</p>
    <ul>
      <li>ландшафтний дизайн</li>
      <li>екологічний туризм</li>
      <li>розвиток місцевої інфраструктури</li>
    </ul>
  </div>
  <div class="partners">
    <h2>Наші партнери</h2>
    <ul>
      <li><img src="partner1.jpg" alt="Партнер 1"></li>
      <li><img src="partner2.jpg" alt="Партнер 2"></li>
      <li><img src="partner3.jpg" alt="Партнер 3"></li>
      <li><img src="partner4.jpg" alt="Партнер 4"></li>
    </ul>
  </div>
</header>
