<div class="table-container">
  <h1>Таблиця користувачів</h1>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="action-button" (click)="changeUserRole(user.id, 'USER')">Set User</button>
        <button class="action-button" (click)="changeUserRole(user.id, 'MODERATOR')">Set Moderator</button>
        <button class="action-button" (click)="changeUserRole(user.id, 'ADMIN')">Set Admin</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
